@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/FreightSansCmpPro-Light.woff2') format('woff2'),
       url('../fonts/FreightSansCmpPro-Light.woff') format('woff');
}

@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FreightSansCmpPro-Med.woff2') format('woff2'),
       url('../fonts/FreightSansCmpPro-Med.woff') format('woff');
}

@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/FreightSansCmpPro-Semi.woff2') format('woff2'),
       url('../fonts/FreightSansCmpPro-Semi.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a4ftzs');
  src:  url('../fonts/icomoon.eot?a4ftzs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a4ftzs') format('truetype'),
    url('../fonts/icomoon.woff?a4ftzs') format('woff'),
    url('../fonts/icomoon.svg?a4ftzs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
