<div id="event-list" class="event-list" :class="['event-list', { '-active': view === 'list'}]">
  <event-list-item
    v-for="event in filteredEvents"
    :selected="selectedEventIds.includes(event.id)"
    :hovered="hoveredEventIds.includes(event.id)"
    :source="source"
    :akid="akid"
  >
    <event-card :event="event" :event-types="eventTypes" :source="source" :akid="akid"></event-card>
  </event-list-item>
  <div
    v-if="isSelectedZipcodeInvalid"
    class="event-list-empty"
    v-html="invalidZipcodeText"
  >
  </div>
  <div
    v-else-if="events.length && !filteredEvents.length"
    class="event-list-empty"
    v-html="noEventsText"
  >
  </div>
</div>
