<div id="event-list" ref="root" :class="['event-list', { '-active': view === 'list'}]">
  <event-list-item
    v-for="event in filteredEvents"
    :selected="event.id === selectedEventId"
    :onSelect="scrollIntoView"
  >
    <event-card v-bind:event="event"></event-card>
  </event-list-item>
  <div
    v-if="isSelectedZipcodeInvalid"
    class="event-list-empty"
    v-html="invalidZipcodeText"
  >
  </div>
  <div
    v-else-if="events.length && !filteredEvents.length"
    class="event-list-empty"
    v-html="noEventsText"
  >
  </div>
</div>
