<div class='footer'>
  <div class='footer-buttons'>
    <a target="_blank" class='btn host-btn'
       :href="'https://go.peoplepower.org/signup/host_new?source='+source+'&akid='+akid">
      Host an event
    </a>
    <a target="_blank" class='btn share-btn' :href="shareUrl">
      <span class='share-btn-content'>
        <span>Share the map</span>
        <img src='~images/fb-logo-white.png' />
      </span>
    </a>
  </div>
  <span class='privacy-policy'>
    <a target="_blank" href='https://go.peoplepower.org/signup/privacy/'>Privacy Policy</a>
     &copy;2017 <span v-if="showACLU">ACLU</span><span v-else>PeoplePower</span>
  </span>
</div>
