<div class='footer'>
  <div class='footer-buttons'>
    <a class='btn host-btn' href='https://go.peoplepower.org/signup/host_new?source=map'>
      Host an event
    </a>
    <a class='btn share-btn' href='https://www.facebook.com/sharer/sharer.php?u=${location.href}'>
      <span class='share-btn-content'>
        <span>Share the map</span>
        <img src='../assets/images/fb-logo-white.png' />
      </span>
    </a>
  </div>
  <span class='privacy-policy'>
    <a target="_blank" href='https://go.peoplepower.org/signup/privacy/'>Privacy Policy</a>
     &copy;2017 ACLU
  </span>
</div>
