<div class="header" id="header">
  <div class="inner-wrap">
    <div class="branding">
      <img class="logo" src="~images/logo.png" alt="logo" />
      <h2 class="cta" ref="cta">Find events near you</h2>
    </div>

    <div class="toolbar">
      <div class="search-wrap">
        <input
          type="text"
          v-model="zipcode"
          placeholder="Search by zip code"
          @keyup.enter="search"
          autofocus
          maxlength="5"
        />
        <button type="button" @click="search">
          <i class="icon-search"></i>
        </button>
      </div>
      <div class="button-group">
        <button
          type="button"
          @click="toggleFilterEvents"
        >
          Filter events
        </button>

        <button @click="toggleView" v-html="toggleButtonText">
          List View
        </button>
      </div>

      <div v-if="isFilterEventsOpen">
        <div class="filter-events" :style="filterEventsTop">
          <div class="filter-events-header">
            <span>Filter events</span>
            <span class="filter-events-close" @click="toggleFilterEvents">
              ✖
            </span>
          </div>
          <div class="filter-events-body">
            <event-date-filters :show-title="true" :filters="filters" ></event-date-filters>
            <event-type-filters :show-title="true" :filters="filters"></event-type-filters>
            <button
              class="filter-events-search"
              @click="toggleFilterEvents"
            >
              Search events
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="toolbar -desktop">
      <div class="toolbar-inner">

        <input
          class="toolbar-item zipcode"
          type="text"
          v-model="zipcode"
          placeholder="Search by zip code"
          @keyup.enter="search"
          autofocus
          maxlength="5"
        />

        <button-dropdown button-text="Date of event" button-class="toolbar-item">
          <event-date-filters :filters="filters" ></event-date-filters>
        </button-dropdown>

        <button-dropdown button-text="Type of event" button-class="toolbar-item">
          <event-type-filters :filters="filters"></event-type-filters>
        </button-dropdown>

        <button
          class="search toolbar-item"
          @click="search"
        >
          Search events
        </button>

        <a
          class="btn toolbar-item"
          href="https://go.peoplepower.org/signup/host_new?source=map"
          target="_blank"
        >
          Host an event
        </a>
      </div>
    </div>
  </div>
</div>
