<div class="header" id="header">
  <div class="inner-wrap">
    <div class="branding">
      <img v-if="logoFile === 'logo-second-chances.png'" class="logo" src="~images/logo-second-chances.png" alt="YES Second Chances PeoplePower" />
      <img v-else class="logo" src="~images/logo-aclu.png" alt="PeoplePower ACLU" />
      <h2 class="cta" ref="cta">Find events near you</h2>
    </div>

    <div class="toolbar">
      <div class="search-wrap">
        <input
          type="text"
          :value="filters.zipcode"
          placeholder="Search by zip code"
          @input="search"
          autofocus
          maxlength="5"
        />
        <button type="button">
          <i class="icon-search"></i>
        </button>
      </div>
      <div class="button-group">
        <button
          type="button"
          @click="toggleFilterEvents"
        >
          Filter events
        </button>

        <button @click="toggleView" v-html="toggleButtonText">
          List View
        </button>
      </div>

      <mobile-event-filters
        :is-filter-events-open="isFilterEventsOpen"
        :filter-events-top="filterEventsTop"
        :toggle-filter-events="toggleFilterEvents"
        :event-types="eventTypes"
        :filters="filters"
      >
      </mobile-event-filters>

    </div>

    <div class="toolbar -desktop">
      <div class="toolbar-inner">

        <div class="toolbar-item">
          <input
            class="zipcode"
            type="text"
            :value="filters.zipcode"
            placeholder="Search by zip code"
            @input="search"
            autofocus
            maxlength="5"
          />
        </div>

        <div class="toolbar-item">
          <button-dropdown button-text="Date of event">
            <event-date-filters :filters="filters" ></event-date-filters>
          </button-dropdown>
        </div>

        <div class="toolbar-item">
          <button-dropdown button-text="Type of event">
            <event-type-filters :event-types="eventTypes":filters="filters"></event-type-filters>
          </button-dropdown>
        </div>

        <div class="toolbar-item">
          <a
            v-if="hostEventLink"
            class="btn"
            :href="hostEventLink"
            target="_blank"
          >
            Host an event
          </a>
          <a
            v-else
            class="btn"
            href="https://go.peoplepower.org/signup/host_new?source=map"
            target="_blank"
          >
            Host an event
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
