<div class="toolbar" id="toolbar">
  <div class="top-nav">
    <img class="logo" src="~images/logo.png" alt="logo"/>
    <h2 class="cta">Find events near you</h2>
  </div>
  <div class="event-filters">

    <input
      type="text"
      @input="updateZipcode"
      placeholder="Search by zip code"
      :value="zipcode"
      autofocus
    />

    <button class="btn date-picker" @click="toggleFilterEventsByDate"><span>DATE OF EVENT</span> &nbsp;&nbsp;<div id="date-arrow" class="arrow" src="~images/down-arrow.svg"></div></button>

    <div v-if="isFilterEventsByDateOpen" class="event-filter-by-date">
      <event-date-filters :filters="filters" ></event-date-filters>
    </div>

    <button class="btn type-picker" @click="toggleFilterEvents"><span>TYPE OF EVENT</span> &nbsp;&nbsp;<div id="event-arrow" class="arrow" src="~images/down-arrow.svg"></div></button>

    <div v-if="isFilterEventsOpen">
      <event-type-filters :filters="filters" class="event-filter-by-type"></event-type-filters>
    </div>

    <button class="btn search">SEARCH EVENTS</button>

    <button class="btn host">HOST AN EVENT</button>

    <button class="btn toggle-view" @click="toggleView">
      {{ view === 'map' ? 'List view' : 'Map view' }}
    </button>

  </div>
</div>
