<div class="toolbar" id="toolbar">
  <div class="top-nav">
    <img class="logo" src="~images/logo.png" alt="logo"/>
    <h2 class="cta">Find events near you</h2>
  </div>
  <div class="event-filters">
    <input type="text" placeholder="Search by zip code" />
    <button class="btn date-picker"><span>DATE OF EVENT</span> &nbsp;&nbsp;<img class="arrow" src="~images/down-arrow.svg"/></button>
    <button class="btn type-picker"><span>TYPE OF EVENT</span> &nbsp;&nbsp;<img class="arrow" src="~images/down-arrow.svg"/></button>
    <button class="btn search">SEARCH EVENTS</button>
    <button class="btn host">HOST AN EVENT</button>
  </div>
</div>
