<div class="toolbar" id="toolbar">
  <div>
    <img class="logo" src="~images/logo.png" />
    <h2 class="cta">Find events near you</h2>
  </div>
  <div>
    <input type="text" placeholder="Search by zip code" />
    <button type="button" class="btn -primary">
      <i class="icon-search"></i>
    </button>
  </div>
  <div>
    <button type="button" class="btn">Filter events</button>
    <button type="button" class="btn">List view</button>
    <button type="button" class="btn" v-on:click="increment">Increment Counter</button>
    <button type="button" class="btn" v-on:click="decrement">Decrement Counter</button>
    <button type="button" class="btn" v-on:click="loaded">Loaded</button>
    <p>Count is: {{count}}</p>
  </div>
</div>
