@import "~styles/variables";

.event-list {

}

.event-list-item {
  border-top: solid 2px $gray;
  &:first-child {
    border-top: none;
  }
}

.event-list-empty {
  text-align: center;
  font-family: $accent-font;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: 2em;
  color: $blue;
}
