@import "~styles/variables";
@import "~styles/fonts";
@import "~styles/icons";
@import "~styles/map";
@import "~styles/header";
@import "~styles/event_list";

body,
input,
button {
  font-size: $text-size; 
}

body {
  font-family: Arial;
  margin: 0;
}

button,
.btn {
  font-family: "Freight Sans CMP";
  display: inline-block;
  font-weight: bold;
  background: $blue;
  text-transform: uppercase;
  color: $white;
  border: none;
  padding: .5em;
  outline: none;
  text-decoration: none;
  transition: background .3s;
  &:hover {
    cursor: pointer;
    background: darken($blue, 5%); 
  }
}

input {
  &:focus {
    outline-color: $light-blue;
  }
}

input[type="text"] {
  height: 2em;
  font-weight: 200;
  padding-left: 1em;
}
