@import "~styles/variables";
@import "~styles/mixins";
@import "~styles/outdated_browser";
@import "~styles/fonts";
@import "~styles/icons";
@import "~styles/layout";
@import "~styles/map";
@import "~styles/header";
@import "~styles/event_list";
@import "~styles/event_card";
@import "~styles/pikaday_custom";
@import "node_modules/mapbox-gl/dist/mapbox-gl";

body,
input,
button {
  font-size: $text-size;
}

body {
  font-family: Arial;
  margin: 0;
}

button,
.btn {
  font-family: "Freight Sans CMP";
  display: inline-block;
  font-weight: bold;
  background: $light-blue;
  text-transform: uppercase;
  color: $white;
  border: none;
  padding: .5em;
  outline: none;
  text-decoration: none;
  transition: background .3s;
  &:hover {
    cursor: pointer;
    background: $blue;
  }
}

input:focus {
  outline-color: $light-blue;
}

input[type="text"] {
  height: 2em;
  font-weight: 200;
  padding-left: 1em;
}
