.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.event-map,
.event-list {
  display: none;
}

.event-list.-active {
  display: block;
}

.event-map.-active {
  display: flex;
  flex: 1;
}

@media (min-width: $breakpoint-large) {
  .layout-main {
    flex-direction: row;
    align-items: stretch;
    min-height: 0;
  }

  .event-map {
    display: flex;
    flex: 2;
  }

  .event-list {
    flex: 1;
    display: block;
    overflow-y: scroll;
  }
}
