html,
body,
.layout {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
}

.event-map,
.event-list {
  display: none;
}

.event-list.-active {
  display: block;
}

.event-map.-active {
  display: flex;
  height: 100%;
}

@media (min-width: $breakpoint-large) {
  .layout-main {
    flex-direction: row;
    align-items: stretch;
  }

  .event-map,
  .event-list {
    display: flex;
  }

  .event-map {
    flex: 2;
  }

  .event-list {
    flex: 1;
    overflow-y: scroll;
  }
}
