@import "~styles/variables";

#map {
  background: $blue;
  flex: 1;
}

.mapboxgl-popup .mapboxgl-popup-content {
  background: $white;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  .event-card {
    padding: $offset;
    max-width: 350px;
  }
}
