@import "~styles/variables";

.event-map {
  align-items: stretch;
  display: flex;
}

#map {
  flex: 1;
  position: relative;
  &.-loading:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url('~images/loading.svg');
  }
}

.mapboxgl-popup .mapboxgl-popup-content {
  background: $white;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  .event-card {
    padding: $offset;
    max-width: 350px;
  }
}
