@import "~styles/variables";

$marker-size: 26px;

.map-marker {
  top: ($marker-size * -1) + 2;
  left: $marker-size / 2 * -1;

  path {
    fill: $salmon;
    stroke: #FFF;
    stroke-width: 2px;
  }
  
  svg {
    width: $marker-size;
    height: $marker-size;
  }
}
