.outdated-browser {
  display: none;
}

.no-flexbox, .no-webgl {
  .outdated-browser {
    background: white;
    padding: 4em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
  }

  .event-wrapper {
    display: none;
  }
}
