@import "node_modules/pikaday/scss/pikaday.scss";

$pd-day-hover-color: lighten($pd-day-color, 8%);

// @Overwritten styles
#calendar-container {
  
}


.pika-single,
.pika-single.is-bound {
  margin-top: 50px;
  border: none;
  box-shadow: none;
}

.pika-lendar {
  .pika-table {
    td {
      .pika-button {
        width: 2em;
        height: 2em;
        font-weight: normal;
        margin: 0 auto;
        text-align: center;
        font-family: inherit;
        font-weight: normal;
        background: transparent;
      }

      &.is-selected .pika-button {
        border-radius: 50%;
        background: $pd-day-selected-bg;
      }
    }
  }
}
