.toolbar {
  text-align: center;
  background: $dark;
  padding: 1rem;
}

.logo {
  max-width: 300px;
}

.cta {
  color: #fff;
  font-size: 2rem;
}

.event-filters-title {
  margin: 0;
}

.event-type-filters {
  background: #fff;
}

.event-date-filters {
  background: #fff;
}
