.toolbar {
  text-align: center;
  background: $dark;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  background-color: $dark;
  align-content: center;
  -webkit-box-sizing: border-box;
  padding: 1em;
}

.logo {
  max-width: 300px;
  max-height: 70px;
  float: left;
}

.cta {
  color: white;
  font-size: 2.5em;
  padding-left: 20px;
  margin: 20px 0 10px 0;
}

.event-filters {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: #919191;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
}

input {
  height: 2em;
  width: 250px;
  margin: 0 1em;
  text-align: center;
}

.btn {
 width: 200px;
 margin: 0 .5em;
 font-family: "Freight Sans CMP";
 font-size: 1.3em;
 font-weight: bold;
 background: white;
 border: 1px $light-gray solid;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.arrow {
  width: 15px;
  margin: auto 0px;
}

.btn.search {
  background: #ac2c23;
  color: white;
}

.host {
  background: $blue;
  color: white;
}

.event-filters-title {
  margin: 0;
}

.event-type-filters {
  background: #fff;
}

.event-date-filters {
  background: #fff;
}

.btn.type-picker, .btn.date-picker, .btn.toggle-view {
  background: #fff;
  color: #000;
}

/* positioning here is kinda jank... */
.event-filter-by-date {
    position: absolute;
    top: 400;
    left: 80;
    z-index: 10;
    padding: 10px;
}

/* positioning here is kinda jank... */
.event-filter-by-type {
    text-align: left;
    position: absolute;
    top: 400;
    left: 200;
    z-index: 10;
    padding: 10px;
    width: 180px;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px;
}

/* this is gross. */
.no-margin-checkbox {
    margin-right: -220px;
}