$red: #EF4134;
$dark: #272F32;
$blue: #537882;
$light-blue: #9DBDC6;
$lightest-blue: #D8E4E8;
$aclu-blue: #4B90CD;
$facebook-blue: #3B5998; // Share button
$off-white: #ECECEC;
$gray: #D6D6D6;
$light-gray: #E0DFE0;
$dark-red: #A30800;
$white: #FFF;
$black: #000;

$text-size: 18px;
$offset: $text-size;
$accent-font: "Freight Sans CMP";
$breakpoint-large: 1000px;
